/* @import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap"); */

:root {
    --pink: #f14e95;
    --bg: #0a0a0a;
    --shadow: 0 5px 5px rgba(3, 3, 3, 0.2);
    --animate-duration: 500ms;
    --animate-delay: 100ms;
}

body.no-scroll {
    overflow: hidden;
    overflow-x: hidden;
  
}
body {
    overflow-x: hidden;
}
  
@keyframes zoomInBackground {
    0% {
      background-size: 100%;
    }
    100% {
      background-size: 120%;
    }
  }
  
  body {
    margin: 0;
    padding: 0;
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
    height: 5990px;
    background-image: url('https://i.pinimg.com/originals/07/1f/65/071f65fad1b23671fa51d59ef3944284.jpg');
    background-size: cover;
    background-position: center;
    animation: zoomInBackground 25s ease-in-out infinite;
  }
  

.hero {
    padding: 2rem;
    
    box-sizing: border-box;
    position: relative;
    min-height: 100vh;
    background-image: url(img/susunan-acara-temu-manten-Jawa-2266912924.webp);
    background-size: cover;
    background-position: center;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.hero h1,
.hero h4,
.hero p {
    text-shadow: var(--shadow);
}

.hero h1 {
    font-family: 'Allura';
    font-size: 8rem;
}

#hero .aziz,
#hero .yati {
    font-family: 'Allura';
    font-weight: 300;
}

.hero h4 {
    font-size: 2rem;
}

.hero p {
    font-size: 2rem;
}

.simply-countdown>.simply-section{
    width: 50px;
height: 50px;
padding: 80px;
display: flex;
align-items: center;
justify-content: center;
float: left;
margin: 10px;
background: rgb(139, 139, 204);
box-shadow: 0 1px 3px rgba(36, 22, 22, 0.12), 0 1px 2px rgba(131, 115, 115, 0.24);
border-radius: 50%;
font-size: 1.2rem;

} 

.hero a {
    color: var(white);
    background-color: rgb(240, 230, 230);
}

.hero a:hover {
    background-color: var(white);
    color: white;
}

/* CSS untuk navbar dengan background blur */
.navbar {
  backdrop-filter: blur(10px); 
  background-color: transparent !important;
  
  
}
.navbar-nav {
  margin-left: auto;
  color: white;
}
.nav-link {
  color: white;
  font-size: 1.5rem;
}
/* CSS untuk toggle button */
.navbar-toggler {
  background-color:white;
  font-size: 1.6rem;
  
}
.nav-span {
  color: white;
}
/* Tambahan untuk mengatur gaya font Aziz&Yati */
.navbar-brand {
  font-family: 'Allura', cursive;
  font-size: 3rem;
  font-weight: 200;
  color: white;
}

/* Tambahkan margin-top untuk section pertama agar tidak tertutup oleh navbar */
#home {
  margin-top: 70px; 
}



/* Section Home */
.home {
    background-color: rgba(233, 219, 219, 0);
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin-top: -2rem;
    padding-top: 10rem;
    padding-bottom: 5rem;
}

.home h2,
.info h2,
.galery h2 {
    color:white;
    font-family: 'Allura';
    font-size: 4rem;
}

.home h3 {
    color: white;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 1.8rem;
    margin-bottom: 1rem;
    margin-left: 10px;
}

#home .aziz,
#home .yati {
    font-family: 'Allura';
    font-size: 4rem;
    font-weight: 400;
}

.home p,
.galery p {
  font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 1.5rem;
    color: white;
}


/* Gambar */
.home .couple {
    margin-top: 100px;
    margin-left:  10px;
    margin-right: 20px;
    padding-top: -4rem;
}

.home .couple img {
    width: 100%;
    margin-left: 7px;
}

/* Info */
.info {
    background-position: center;
    color: white;
    padding-top: 9rem;
    padding-bottom: 7rem;
}
.info a {
  font-family: 'Roboto', 'Arial', sans-serif;
  margin: 4rem;
}
.info h2 {
    color: white;
    font-family: 'Allura';
    font-size: 4rem;
}
.info h3 {
  font-family: 'Roboto', 'Arial', sans-serif;
  color: white;
  font-size: 1.5rem;
  margin: 4rem;
}
.info p {
  font-family: 'Roboto', 'Arial', sans-serif;
  color: white;
  font-size: 1.5rem;
}

.info .description {
  font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 1.5rem;
    font-weight: 100;
}

/* Card */
.card-body {
    background: linear-gradient(rgba(243, 230, 240, 0.678), #d8d8dd);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon-text {
    display: flex;
    align-items: center;
}

.icon-text svg {
    margin-right: 5px;
}

.card-header,
.card-footer {
    background-color: rgba(242, 230, 240, 0.678); 
}

/* CSS dasar untuk section timeline */
#timeline {
  position: relative;
  padding: 20px 0;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  color: white;
}
#timeline h2 {
  font-family: 'Allura';
  font-size: 4rem;
  text-align: center;
  margin: 6rem;
}

#timeline p {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 1.3rem;
}
#timeline ul {
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
}

/* Garis tengah vertikal */
#timeline ul.line::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  width: 4px; 
  background: #cfbaba;
  transform: translateX(-50%);
  z-index: 1;
}

/* Gaya setiap item dalam timeline */
#timeline ul.line li {
  position: relative;
  width: 50%;
  padding: 10px 20px;
  box-sizing: border-box;
}

#timeline ul.line li:nth-child(odd) {
  left: 0;
  text-align: right; 
}

#timeline ul.line li:nth-child(even) {
  left: 50%; 
  text-align: left; 
}

/* Gaya untuk kontainer konten */
#timeline ul.line li .cont {
  position: relative;
  background: transparent; 
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 2;
}

/* paragraf ke kiri di dalam .cont */
#timeline ul.line li .cont p {
  text-align: left; 
  font-size: 1.3rem;
}

#timeline ul.line li .cont h3 {
  font-family: 'Allura';
  text-align: left; 
  font-size: 4rem;
  
}
/* Gaya tambahan untuk elemen waktu */
#timeline ul.line li .cont time {
  display: block;
  margin-top: 10px;
  color: white;
  font-size: 1.4em;
}

/* Titik di tengah timeline */
#timeline ul.line li::before {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  background: #41e6e6; 
  border-radius: 50%;
  top: 20px; 
  z-index: 2;
}

#timeline ul.line li:nth-child(odd)::before {
  right: -8px; 
}

#timeline ul.line li:nth-child(even)::before {
  left: -8px; 
}




.galery span {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 1.3rem;
  color: white;
  margin: 3rem;
}
/* RSVV */
.rsvv .container {
    padding: 7%;
}

.rsvv h2 {
    font-family: 'Allura';
    font-size: 4rem;
    color: white;
}

.rsvv p {
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 1.5rem;
    color: white;
}
/* CSS untuk form */
form#my-form {
    background-color: transparent;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 600px;
    margin: 50px auto;
    font-family: 'Allura', cursive;
  }
  
  /* Gaya label dan input */
  form#my-form .form-label {
    font-weight: 590;
    margin-bottom: 10px;
    color: white;
    font-size: 23px;
  }
  
  form#my-form .form-control, 
  form#my-form .form-select {

    background-color:transparent;
    border-radius: 6px;
    border: 1px solid white;
    box-sizing: border-box;
    font-size: 14px;
    padding: 6px;
    color: white;
  }
  
  form#my-form .form-control:focus,
  form#my-form .form-select:focus {
    font: 1em sans-serif;
    border-color: #4CAF50;
    box-shadow: 0 0 0 0.2rem rgba(76, 175, 80, 0.25);
    font-size: 16px; 
  }
  
  /* Gaya tombol */
  form#my-form .btn-primary {
    background-color: #0085c3;
    color: white;
    border: none;
    border-radius: 6px;
    margin: 2rem;
    width: 100px; 
    height: 39px;
    padding: 10px 20px;
    font-size: 19px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  form#my-form .btn-primary:hover {
    background-color: transparent;
    border-color: #939cec;
    color: black;
  }
  
  /* Link "Lihat Ucapan" */
  form#my-form a {
    margin: 2rem;
    margin-right: auto;
    font-size: 21px;
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  form#my-form a:hover {
    font-family: 'Josefin', serif;
    font-style: italic;
    color: blueviolet;
    font-size: small;
  }
  
  /* Media Queries untuk Responsivitas */
  
  /* Ukuran layar ponsel */
  @media (max-width: 576px) {
    form#my-form {
      padding: 15px;
      max-width: 100%;
    }
  }
  
  /* Ukuran layar tablet */
  @media (min-width: 577px) and (max-width: 768px) {
    form#my-form {
      padding: 20px;
      max-width: 90%;
    }
  }
  
  /* Ukuran layar laptop dan lebih besar */
  @media (min-width: 769px) {
    form#my-form {
      padding: 20px;
      max-width: 400px;
    }
  }
  



/* Gifts */
.gifts h2 {
    font-family: 'Allura';
    font-size: 4rem;
    color: white;
}

.gifts p,
.gifts span {
  font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 1.5rem;
    color: white;
}


/* Card Bank */
.card-bank {
    width: 315px;
    height: 180px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    z-index: 1;
    overflow: hidden;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    margin: 30px auto; 
}

.visa_logo {
    float: right;
    padding: 8px;
}

.visa_logo img {
    width: 65px;
    height: 25px;
}

.visa_info {
    margin: 26px 0;
}

.visa_info img {
    width: 50px;
    height: 40px;
}

img {
    margin-left: 15px;
    margin-top: 10px;
}

p {
    margin-left: 15px;
}

.visa_info p {
    font-size: 20px;
    padding: 9px 0;
    letter-spacing: 2px;
    color: white;
}



footer, body {
    height: 100%;
    margin: 0;
    color: white;
    
  }
  .footer.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: whitesmoke;
  }
  footer {
    margin-top: auto;
  }
  

.footer a {
    color: var(--bg);
    font-weight: bold;
    font-family: 'Roboto', 'Arial', sans-serif;

}

.myfooter ul {
    list-style-type: none; 
    padding: 0;
    margin: 0; 
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto; 
  }
  
  ul li {
    margin-right: 15px;
  }
  
  ul li a {
    text-decoration: none;
    color: inherit;
  }
  
  ul li a svg, ul li a i {
    font-size: 24px;
}
    
 

.audio-icon-wrapper {
    color: white;
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    display: none; 
    animation: rotating 4s linear infinite;
    transform-origin: center;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0;
}
/* Styling untuk audio container */
#audio-container {
    display: none;
}

.audio-icon-wrapper {
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    display: none;
    z-index: 1000;
}

.audio-icon-wrapper svg {
    transition: transform 0.3s ease; 
}
@keyframes rotating {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

/* Media Queries */


@media (min-width: 768px) {
    html {
        font-size: 65%;
    }

    .simply-countdown > .simply-section {
        padding: 15px;
        margin: 5px;
    }

    
}
/* Media query untuk tampilan mobile */
@media (max-width: 768px) {
  .col-lg-6 {
      margin-bottom: 20px;
  }
}


@media (min-width: 576px) {
    html {
        font-size: 60%;
    }
    .simply-countdown > .simply-section {
        padding: 10px;
        margin: 5px;
    }

    
}

@media (max-width: 575.98px) {
    html {
        font-size: 50%;
    }

    .simply-countdown > .simply-section {
        padding: 5px;
        margin: 5px;
    }

    
}
