/* @import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap"); */

:root {
    --pink: #f14e95;
    --bg: #0a0a0a;
    --shadow: 0 5px 5px rgba(3, 3, 3, 0.2);
    --animate-duration: 500ms;
    --animate-delay: 100ms;
}
body.no-scroll {
    overflow: hidden;
    overflow-x: hidden;
  
}
body {
    overflow-x: hidden;
}
  
body {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.2rem;
    background: linear-gradient(rgba(148, 83, 83, 0.5), #66CCFF); /* Background dasar */
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
    height: 5990px;
}

.hero {
    padding: 2rem;
    
    box-sizing: border-box;
    position: relative;
    min-height: 100vh;
    background-image: url(img/susunan-acara-temu-manten-Jawa-2266912924.webp);
    background-size: cover;
    background-position: center;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.hero h1,
.hero h4,
.hero p {
    text-shadow: var(--shadow);
}

.hero h1 {
    font-family: 'Allura';
    font-size: 8rem;
}

#hero .aziz,
#hero .yati {
    font-family: 'Allura';
    font-weight: 300;
}

.hero h4 {
    font-size: 1.8rem;
}

.hero p {
    font-size: 1.8rem;
}

.simply-countdown>.simply-section{
    width: 50px;
height: 50px;
padding: 80px;
display: flex;
align-items: center;
justify-content: center;
float: left;
margin: 10px;
background: rgb(139, 139, 204);
box-shadow: 0 1px 3px rgba(36, 22, 22, 0.12), 0 1px 2px rgba(131, 115, 115, 0.24);
border-radius: 50%;
font-size: 1.2rem;

} 

.hero a {
    color: var(--pink);
    background-color: rgb(240, 230, 230);
}

.hero a:hover {
    background-color: var(--pink);
    color: white;
}

/* CSS untuk navbar dengan background blur */
.navbar {
  backdrop-filter: blur(10px); /* Mengatur tingkat blur */
  background-color: transparent !important;
  
}

/* CSS untuk toggle button */
.navbar-toggler {
  background-color: transparent; /* Anda bisa mengubah warna ini */
}

/* Tambahan untuk mengatur gaya font Aziz&Yati */
.navbar-brand {
  font-family: 'Allura', cursive;
  font-size: 2rem;
  font-weight: 200; /* Sesuaikan sesuai kebutuhan */
}

/* Tambahkan margin-top untuk section pertama agar tidak tertutup oleh navbar */
#home {
  margin-top: 70px; /* Sesuaikan dengan tinggi navbar */
}



/* Section Home */
.home {
    background-color: rgba(233, 219, 219, 0);
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin-top: -2rem;
    padding-top: 10rem;
    padding-bottom: 5rem;
}

.home h2,
.info h2,
.galery h2 {
    color: var(--pink);
    font-family: 'Allura';
    font-size: 4rem;
}

.home h3 {
    color: #997199;
    font-size: 1.4rem;
    margin-bottom: 1rem;
    margin-left: 10px;
}

#home .aziz,
#home .yati {
    font-family: 'Allura';
    font-size: 4rem;
    font-weight: 400;
}

.home p,
.galery p {
    font-size: 1.3rem;
    color: #665b5b;
}


/* Gambar */
.home .couple {
    margin-top: 100px;
    margin-left:  10px;
    margin-right: 20px;
    padding-top: -4rem;
}

.home .couple img {
    width: 100%;
    margin-left: 7px;
}

/* Info */
.info {
    background-position: center;
    color: #665b5b;
    padding-top: 9rem;
    padding-bottom: 7rem;
}

.info h2 {
    color: var(--pink);
    font-family: 'Allura';
    font-size: 4rem;
}

.info .alamat {
    font-size: 1.3rem;
}

.info .description {
    font-size: 1.2rem;
    font-weight: 100;
}

/* Card */
.card-body {
    background: linear-gradient(rgba(243, 230, 240, 0.678), #d8d8dd);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon-text {
    display: flex;
    align-items: center;
}

.icon-text svg {
    margin-right: 5px; /* Jarak antara ikon dan teks */
}

.card-header,
.card-footer {
    background-color: rgba(242, 230, 240, 0.678); /* Warna latar belakang header dan footer */
}

@import url('https://fonts.googleapis.com/css?family=Montserrat');

*
{
  margin: 0;
  padding: 0;
  border: 0
}

body {
  font-family: 'Montserrat', sans-serif;
  
}

ul{list-style: none}
/*--------------------------------------------
            #Start Timeline Rules
--------------------------------------------*/
#timeline
{
  width: 100%;
  height: 1120px;
  background-color: linear-gradient(rgba(148, 83, 83, 0.5), #66CCFF);
  padding: 20px 1%;
  overflow: hidden
}

#timeline ul
{
  min-height: 950px;
  border-top: 0;
  border-left: 4px solid transparent;
  border-left-color: #7ab800; /* Fullback */
  -webkit-border-image: -webkit-linear-gradient( 
    top, 
    #7ab800 0%,
    #0085c3 35%,
    #f2af00 50%,
    #ce1126 65%,
    #6e2585 100%);
  -moz-border-image: -moz-linear-gradient( 
    top, 
    #7ab800 0%,
    #0085c3 35%,
    #f2af00 50%,
    #ce1126 65%,
    #6e2585 100%);
  -ms-border-image: -ms-linear-gradient( 
    top, 
    #3a412e 0%,
    #0085c3 35%,
    #f2af00 50%,
    #ce1126 65%,
    #6e2585 100%);
  -o-border-image: -o-linear-gradient( 
    top, 
    #7ab800 0%,
    #0085c3 35%,
    #f2af00 50%,
    #ce1126 65%,
    #6e2585 100%);
  border-image: linear-gradient(
    top, 
    #7ab800 0%, 
    #0085c3 35%, 
    #f2af00 50%, 
    #ce1126 65%, 
    #6e2585 100%);
  border-image-slice: 1;
  position: relative;
  top: 5%;
  left: 50%;
  perspective: 2000px
}

#timeline ul li:after
{
  content: "\2713";
  font-family: fontawesome;
  display:block;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  font-weight: 100;
  font-size: 90%;
  line-height:35px;
  text-align: center;
  background-color: #7ab800;
  color: #fff;
  position:absolute;
  -webkit-transition: transform 1s linear;
  transition: transform 1s linear
}

#timeline ul li:nth-child(2):after
{
  background-color: #0085c3;
}

#timeline ul li:nth-child(3):after
{
  content: "\f11d";
  background-color: #f2af00;
}

#timeline ul li:nth-child(4):after
{
  content: "\f11d";
  background-color: #ce1126
}

#timeline ul li:last-child:after
{
  content: "\f11d";
  background-color: #6e2585
}

#timeline ul li .cont
{
  width: 200px;
  height: 110px;
  padding: 25px 10px 10px;
  border: 2px solid transparent;
  border-radius: 4px;
  -webkit-transform: translate(0, -55px);
  transform: translate(0, -55px);
  text-transform: capitalize;
  line-height: 150%;
  font-size: 80%;
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  top: 22px
}

#timeline ul li:nth-child(odd) .cont
{
  -webkit-transform-origin: left;
  transform-origin: left;
  -webkit-transition: transform 1.5s linear;
  transition: transform 1.5s linear
}

#timeline ul li:nth-child(even) .cont
{
  -webkit-transform-origin: right;
  transform-origin: right;
  -webkit-transition: transform 1.5s linear;
  transition: transform 1.5s linear
}

#timeline ul li:first-child .cont
/* warna text pertama */
{
  color: #3f3a41 
}

#timeline ul li:nth-child(2) .cont
{
  color: #225b75
}

#timeline ul li:nth-child(3) .cont
/* warna text dua */
{
  color: #191b25
}

#timeline ul li:nth-child(4) .cont
{
  color: #ce1126
}

#timeline ul li:last-child .cont
{
  color: #6e2585
}

#timeline ul li:nth-child(odd):hover .cont
{
  text-align: left;
  -webkit-transform: rotateY(-175deg) translate3d(60px,-50px,5px);
  transform: rotateY(-175deg) translate3d(60px,-50px,5px);
  -webkit-transition: transform 1.5s linear;
  transition: transform 1.5s linear;
}

#timeline ul li:nth-child(even):hover .cont
{
  text-align: left;
  -webkit-transform: rotateY(175deg) translate3d(-60px,-50px,5px);
  transform: rotateY(175deg) translate3d(-60px,-50px,5px);
  -webkit-transition: transform 1.5s linear;
  transition: transform 1.5s linear
}

#timeline ul li:nth-child(odd):hover .cont p,
#timeline ul li:nth-child(odd):hover .cont h3
{
  -webkit-transform: rotateY(-175deg);
  transform: rotateY(-175deg)
}

#timeline ul li:nth-child(even):hover .cont p,
#timeline ul li:nth-child(even):hover .cont h3
{
  -webkit-transform: rotateY(175deg);
  transform: rotateY(175deg)
}

#timeline ul li:nth-child(2) .cont time{background-color: #282c2e}

#timeline ul li:nth-child(3) .cont time{background-color: #101111}

#timeline ul li:nth-child(4) .cont time{background-color: #CE1126}

#timeline ul li:last-child .cont time{background-color: #6E2585}

#timeline ul li:nth-child(odd):hover .cont time
{
  -webkit-transform: rotateY(-175deg);
  transform: rotateY(-175deg)
}

#timeline ul li:nth-child(even):hover .cont time
{
  -webkit-transform: rotateY(175deg);
  transform: rotateY(175deg)
}

#timeline ul li .cont p{display: block}

#timeline ul li:nth-child(n+1):after{left: -18px}

#timeline ul li:first-child:after,
#timeline ul li:first-child .cont
{
  top: 8%
}

#timeline ul li:nth-child(2):after,
#timeline ul li:nth-child(2) .cont
{
  top: 28%
}

#timeline ul li:nth-child(3):after,
#timeline ul li:nth-child(3) .cont
{
  top: 48%
}

#timeline ul li:nth-child(4):after,
#timeline ul li:nth-child(4) .cont
{
  top: 68%
}

#timeline ul li:last-child:after,
#timeline ul li:last-child .cont
{
  top: 88%
}

#timeline ul li:nth-child(n+1):hover:after
{
  -webkit-transform: rotateZ(360deg);
  transform: rotateZ(360deg);
  -webkit-transition: transform 1s linear;
  transition: transform 1s linear
}

#timeline ul li:first-child .cont{ border-color: #7d8174}

#timeline ul li:nth-child(2) .cont{ border-color: #191e20}

#timeline ul li:nth-child(3) .cont{ border-color: #7a7871}

#timeline ul li:nth-child(4) .cont{ border-color: #ce1126}

#timeline ul li:last-child .cont{ border-color: #6e2585}

#timeline ul li:nth-child(odd) .cont{left: 30px}

#timeline ul li:nth-child(even) .cont{left: -255px}

#timeline ul li .cont:before,
#timeline ul li .cont:after
{
  content: "";
  display: block;
  width: 0 ;
  height: 0;
  position: absolute;
  border-style: solid;
}

#timeline ul li:nth-child(odd) .cont:before
{
  border-width: 11px 11px 11px 0 ;
}

#timeline ul li:nth-child(even) .cont:before
{
  border-width: 11px 0 11px 11px
}

#timeline ul li:nth-child(odd) .cont:after
{
  border-width: 10px 10px 10px 0
}

#timeline ul li:nth-child(even) .cont:after
{
  border-width: 10px 0 10px 10px
}

#timeline ul li:nth-child(odd) .cont:before
{
  top: 50%;
  left: -11px;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%)
}

#timeline ul li:nth-child(even) .cont:before
{
  top: 50%;
  right: -11px;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%)
}

#timeline ul li:first-child .cont:before
{
  border-color: transparent #ca3c3c transparent transparent
}

#timeline ul li:nth-child(2) .cont:before
{
  border-color: transparent transparent transparent #e02b58
}

#timeline ul li:nth-child(3) .cont:before
{
  border-color: transparent #928f89 transparent transparent
}

#timeline ul li:nth-child(4) .cont:before
{
  border-color: transparent transparent transparent #ce1126
}

#timeline ul li:last-child .cont:before
{
  border-color: transparent #6e2585 transparent transparent
}

#timeline ul li:nth-child(odd) .cont:after
{
  border-color: transparent #222223;
  top: 50%;
  left: -9px;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%)
}

#timeline ul li:nth-child(even) .cont:after
{
  border-color: transparent #222223;
  top: 50%;
  right: -9px;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%)
}

#timeline ul li .cont time
{
  width: 100px;
  height: 30px;
  position: absolute;
  top: -15px;
  left: calc(100%/2 - 50px);
  background-color: #4b4d47;
  color: #f5f5f5;
  line-height: 30px;
  text-align: center;
  border-radius: 3px
}



@media screen and (max-width: 600px)
{
  #timeline ul li .cont
  {
    width: 120px;
    line-height: 120%
  }
  
  #timeline ul li:nth-child(even) .cont{left: -175px}
  
  #timeline ul li .cont p,
  #timeline ul li .cont time
  {
    font-size: 76%
  }
  
  #timeline ul li .cont time
  {
    width: 80px;
    left: calc(100%/2 - 40px)
  }
}


.galery span {
  font-size: 1.3rem;
  color: #665b5b;
}
/* RSVV */
.rsvv .container {
    padding: 7%;
}

.rsvv h2 {
    font-family: 'Allura';
    font-size: 4rem;
    color: var(--pink);
}

.rsvv p {
    font-family: 'Josefin Sans';
    font-size: 1.7rem;
    color: #cc7474;
}

.rsvv button {
    background-color: rgb(154, 100, 204);
    color: rgba(255, 255, 255, 0.856);
    border: 1px solid blueviolet;
}

.rsvv button:hover {
    background-color: white;
    color: rgb(158, 104, 209);
    border: 1px solid white;
}

/* Gifts */
.gifts h2 {
    font-family: 'Allura';
    font-size: 4rem;
    color: var(--pink);
}

.gifts p,
.gifts span {
    font-family: 'Josefin Sans';
    font-size: 1.7rem;
    color: #cc7474;
}


/* Card Bank */
.card-bank {
    width: 315px;
    height: 180px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    z-index: 1;
    overflow: hidden;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    margin: 30px auto; /* Jarak di atas, bawah, kiri, dan kanan otomatis */
}

.visa_logo {
    float: right;
    padding: 8px;
}

.visa_logo img {
    width: 65px;
    height: 25px;
}

.visa_info {
    margin: 26px 0;
}

.visa_info img {
    width: 50px;
    height: 40px;
}

img {
    margin-left: 15px;
    margin-top: 10px;
}

p {
    margin-left: 15px;
}

.visa_info p {
    font-size: 20px;
    padding: 9px 0;
    letter-spacing: 2px;
    color: #5c565c;
}

footer, body {
    height: 100%;
    margin: 0;
  }
  .footer.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #0a0a0a;
  }
  footer {
    margin-top: auto;
  }
  

.footer a {
    color: var(--bg);
    font-weight: bold;
}

.myfooter ul {
    list-style-type: none; 
    padding: 0;
    margin: 0; 
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto; 
  }
  
  ul li {
    margin-right: 15px;
  }
  
  ul li a {
    text-decoration: none;
    color: inherit;
  }
  
  ul li a svg, ul li a i {
    font-size: 24px;
}
    
   

.audio-icon-wrapper {
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    display: none; /* Menyembunyikan ikon pada awalnya */
    animation: rotating 4s linear infinite;
    transform-origin: center;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0;
}
/* Styling untuk audio container */
#audio-container {
    display: none; /* Menyembunyikan kontainer audio pada awalnya */
}

.audio-icon-wrapper {
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    display: none; /* Menyembunyikan ikon pada awalnya */
    z-index: 1000;
}

.audio-icon-wrapper svg {
    transition: transform 0.3s ease; /* Animasi transisi */
}
@keyframes rotating {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

/* Media Queries */


@media (min-width: 768px) {
    html {
        font-size: 65%;
    }

    .simply-countdown > .simply-section {
        padding: 15px;
        margin: 5px;
    }

    .mynavbar .nav-link {
        font-size: 1.7rem;
        text-align: center;
    }

    .timeline::before {
        left: 50%;
    }
   

    @media (min-width: 768px) {
        .timeline-panel {
            max-width: 700%; /* Ukuran kolom teks untuk layar lebih besar */
        }
    }
    
    @media (max-width: 575.98px) {
        .timeline-panel {
            max-width: 900%; /* Ukuran kolom teks untuk layar lebih kecil */
        }
    }
    

    .timeline li {
        margin-bottom: 8rem;
        display: flex;
        justify-content: flex-end;
    }

    .timeline li:nth-child(odd) {
        justify-content: flex-start;
    }

    .timeline li .timeline-image {
        width: 100px;
        height: 100px;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 50%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        z-index: 1;
    }

    .timeline li .timeline-panel {
        max-width: 40%;
        background: #8dbed4;
        border-radius: 10px;
        padding: 40px 70px;
        margin-bottom: 30px;
        position: relative;
        z-index: 2;
    }

    .timeline li:nth-child(odd) .timeline-panel {
        margin-right: 50%;
        text-align: left;
        
    }

    .timeline li:nth-child(even):not(:nth-child(2)) .timeline-panel {
        margin-left: 50%;
        text-align: right;
    }
}


@media (min-width: 576px) {
    html {
        font-size: 60%;
    }
    .simply-countdown > .simply-section {
        padding: 10px;
        margin: 5px;
    }

    
}

@media (max-width: 575.98px) {
    html {
        font-size: 50%;
    }

    .simply-countdown > .simply-section {
        padding: 5px;
        margin: 5px;
    }

    .timeline::before {
        left: 60px; /* Adjust position of the center line */
    }

    .timeline li {
        flex-direction: column; /* Ensure items stack vertically */
        align-items: flex-start; /* Align items to the start of the container */
    }

    .timeline li .timeline-image {
        left: 15px; /* Adjust position of the timeline image */
        margin-left: 40px; /* Remove additional left margin */
        top: 0; /* Align top of the image */
    }

    .timeline li .timeline-panel {
        width: 300px;
        margin-left: 130px;
        margin-bottom: 20px;
        
    }

    .timeline li:nth-child(even):not(:nth-child(2)) .timeline-panel {
        margin-left: 100px; /* Same offset for even panels */
    }
}
